*{
    margin: 0px;
    padding: 0px;
    /*font-family: 'Kanit';*/
    font-family: 'JetBrains Mono', monospace;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
body{
    margin: 0px;
    padding: 0px;
    width:100%;
    height: 100vh;
    background-image: url(../images/PORTFOLIO.png);
    background-position:top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Kanit';
}
/*==Project-section==========================*/
#project{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 0px;
}
.project-heading{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.project-heading h3{
    font-size: 2.7rem;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
}
.project-heading span{
    color: #f77bb5;
}
.project-filter{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(251, 203, 226, 1);
    flex-wrap: wrap;
    margin: 20px;
}
.project-filter li{
    margin: 10px;
    padding: 5px 20px;
    color: white;
    font-size: 1rem;
    letter-spacing: 0.5px;
    font-weight: 400;
    cursor: pointer;
    user-select: none;
}
.project-filter-active{
    background-color: #848acf;
    color: #222222;
}
.project-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}
.project-box{
    width:330px;
    padding: 15px;
    border: 1px solid rgba(251, 203, 226, 1) ;
    margin: 20px;
}
.project-box img{
    width:100%;
    height: 100%;
    overflow: hidden;
    border-radius: 5px;
}
@media(max-width:740px){
    .project-filter{
        background-color: rgba(251, 203, 226, 1);
        border: 1px solid rgba(0,0,0,0.05);
    }
    .project-filter-active{
        background-color: #ffffff;
        border: 1px solid rgba(251, 203, 226, 1);
    }
    .project-box{
        width: 80%;
    }
}
@media(max-width:550px){
    .project-heading h3{
        font-size: 1.8rem;
    }
}

/*header*/
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-image: linear-gradient(180deg, #000 15%, transparent);
}
.logo{
    height: 50px;
    z-index: 2;
}
.logo img{
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}
.menu li{
    padding: 20px;
}
.menu li a{
    color: #ffffffcc;
}

.menu li a:hover,
.menu-2 li a:hover{
    color: #A1A9FE;
    transition: all ease 0.5s;
}

::selection{
    color: #121212;
    background-color: #A1A9FE;
}
.nav-2,
.menu-icon,
.menu-btn{
    display: none;
}
@media(max-width:1000px){
    .navigation{
        padding: 30px;
    }
    .navigation .menu,
    .navigation .sign-up-btn{
        display: none;
    }
    .menu-icon{
        display: block;
    }
    nav .menu-icon{
        cursor: pointer;
        float: right;
        padding: 5px;
        position: relative;
        user-select: none;
        z-index: 2;
    }
    nav .menu-icon .nav-icon{
        background-color: #ffffffcc;
        display: block;
        height: 2px;
        position: relative;
        transition: background 0.2s ease-out;
        width: 25px;
    }
    nav .menu-icon .nav-icon:before,
    nav .menu-icon .nav-icon:after{
        background-color: #ffffffcc;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all ease-out 0.2s;
        width: 100%;
    }
    nav .menu-icon .nav-icon:before{
        top: 5px;
    }
    nav .menu-icon .nav-icon:after{
        top: -5px;
    }
    nav .menu-icon .nav-icon,
    nav .menu-icon:checked ~ .menu-icon .nav-icon{
        background-color: transparent;
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon:before{
        transform: rotate(-45deg);
        top: 0px;
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon:after{
        transform: rotate(45deg);
        top: 0px;
    }
    nav .menu-btn{
        display: none;
    }
    .nav-2{
        display: block;
        position: fixed;
        left: 0px;
        top: 0px;
        width:100%;
        height: 100%;
        background-color: #000000;
        flex-direction: column;
        justify-content: center;
        padding-left: 40px;
        z-index: 1;
        display: none;
        animation: fade 0.3s;

    }
    .menu-2{
        margin: 0px;
        padding: 0px;
    }
    .menu-2 li a{
        color: #ffffff;
        margin: 0px;
        padding: 20px 0px;
        font-size: 45px;
    }
    .sign-up-btn-2{
        font-size: 24px;
    }
    .sign-up-btn-2 i{
        font-size: 14px;
    }
    nav .menu-btn:checked ~ .nav-2{
        display: flex;
    }

}
@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.text strong{
    font-size: 2.5rem;
    width:100%;
    text-align: center;
    color: #ffffff;
    line-height: 50px;
}
.text p{
    color: rgba(230,230,230,0.92);
    text-align: center;
    font-size: 1.1rem;
    font-weight: 400;
    margin: 2px;
}
.btn{
    width:200px;
    height: 45px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #f84a4a;
    margin-top: 10px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
}
.btn:hover{
    background-color: #d83737;
    transition: all ease 0.3s;
}
.text strong span{
    color: #f76363;
}

h2 {
    color: #ec90bd
    font-size: 0.64rem;
}
